*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.header {
  background-color: #0b1902;
  padding: 56px;
  
}

.container {
  max-width: 1200px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
 

}

.header__wrapper {
  display: flex;
  justify-content: space-between;
   /* background-color: red; */
   height: 28px;
   
  
}

/* hero style */
.hero{
    background-image: url(./assets/toti.png);
    background-repeat: no-repeat;
    padding-top: 120px;
    padding-bottom: 120px;
    background-position: calc(50% + 406px) calc(50% + 150px);
    background-size: 900px;
    background-color: #0b1902;
}
.hero__info{
    /* background-color: orange; */
    width: 600px;
}

.hero__title{
    color: #9DE03F;
    font-size: 70px;
   font-family: "Archivo Black", sans-serif;
   display: flex;
   justify-content: space-around;
}

.hero__text{
    font-size: 22px;
    color: #9DE03F;
   
}

.hero__link{
    color: black;
    background-color: #9DE03F;
    padding: 16px 24px;
    border-radius: 8px;
   text-decoration: none; /* a href czu yoqotw */
}

/* hero end  */